/* :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    
    font-weight: 400;
    
    color: rgba(255, 255, 255, 0.87);
     background-color: #ffffff !important; 
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
} */

.fondoDirectorio {
    background-color: rgb(96,159,254)!important;
    height: 100vh;
    width: 100%;
    position: absolute;
    
}
.class-header{
    border-bottom:0 !important;
}

/* Estilo específico para el root en DirectorioEmpleados */
/* Estilo específico para el root en DirectorioEmpleados */
.directorio-root {
    --background-color: rgb(96,159,254);
    background-color: var(--background-color) !important;
    scrollbar-width: none;
  }



.Titulo{
    position: relative;
    top: 125px;
    left:100px;
    font-family: "Gotham", Sans-serif;
    color: rgb(255, 255, 255);
    filter: drop-shadow(4px 4px 2px rgb(31, 107, 201));
}


.containerEmpleados {
    position: relative;
    top: 150px;
    padding: 20px;
}

.formRow {
    margin-bottom: 15px; 
}

.cardEmpleado {
    width: 27rem;
    margin-bottom: 15px;
    margin-left: -10px;
    border-radius: 5px;
    
}

.cardHeaderEmpleado {
    display: flex;
    color: white;
    margin-bottom: -2px;
    align-items: center;
}

.cardHeader{
    border: 0;
}
.cardBodyEmpleado {
    background-color: white;
    border-radius: 0 0 5px 5px;
}

.cardTextEmpleado {
    color: black;
}

.cardImgEmpleado {
    width: 15%;
    height: 100%;
    margin-right: 25px;
    
}

.cardImg{
    width: 7.5%;
    height: 100%;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {

    .cardImg{
        width: 9%;
    }
    
}

@media screen and (max-width: 1024px) {
    .formRow{
        flex-direction: column;
        margin-bottom: 25px;
    }
}