.form-container {     
    /* background-color: #013897;  */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px;
    animation: fadeInUp 1s;
  }
  
  .form-container h3 {
    text-align: center;
    color: #013897;
    margin-bottom: 20px;
    margin-left: 0;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
  }
  
  .card-body .form-control {
    background-color: #F1F2F3;
}

  .button-group .btn {
    width: 48%;
    color: #FFFFFF;
  }

/* Estilo para el calendario */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0) contrast(100%);
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
    cursor: pointer;
}

.vacation-days {
  margin-bottom: 20px;
}

.vacation-days h5 {
  margin-bottom: 10px;
}

.vacation-days p {
  margin: 0;
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translate3d(0,100%,0)
  }

  to {
      opacity: 1;
      transform: none
  }
}