.nav-icon-3{
    width: 11.6px ;
    height: 10px;
    margin: 10px 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;

  }
  .nav-icon-3 span{
    background-color:#FFF;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  }
  
  .nav-icon-3 span:nth-child(1){
    width: 300%;
    height:  4px;
    display: block;
    top: -5px;
    left: -11px;
  }
  .nav-icon-3 span:nth-child(2){
    width: 300%;
    height:  4px;
    display: block;
    top: 17.5px;
    left: -11px;
  }
  .nav-icon-3 span:nth-child(3){
    width: 300%;
    height:  4px;
    display: block;
    bottom: 0px;
    left: -11px;
  }
  .nav-icon-3:not(.open):hover  span:nth-child(1),.nav-icon-3:not(.open):active  span:nth-child(1){
    width: 350%;
    height:  4px;
    display: block;
    top: 2px;
    left: -13px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  }
  .nav-icon-3:not(.open):hover span:nth-child(2),.nav-icon-3:not(.open):active span:nth-child(2){
    width: 350%;
    height:  4px;
    display: block;
    top: 13px;
    left: -13px;
    transition: .4s cubic-bezier(.8, .5, .2, 1.4);
  }
  .nav-icon-3:not(.open):hover span:nth-child(3),.nav-icon-3:not(.open):active span:nth-child(3){
    width: 350%;
    height:  4px;
    display: block;
    bottom: -2px;
    left: -13px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  }
  .nav-icon-3.open {
    transform: rotate(-90deg);
  }
  .nav-icon-3.open  span:nth-child(1){
    left:3px;
    top: 12px;
    width: 30px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    transform: rotate(90deg);
    transition-delay: 150ms;
  }
  .nav-icon-3.open  span:nth-child(2){
    left:2px;
    top: 20px;
    width: 20px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    transform: rotate(45deg);
    transition-delay: 50ms;
  }
  .nav-icon-3.open  span:nth-child(3){
    left:14px;
    top: 20px;
    width: 20px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    transform: rotate(-45deg);
    transition-delay: 100ms;
  }