.cardEmpleado {
    animation: fadeInUp 0.25s;
    margin-bottom: 20px;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 1;
        transform: none;
    }

    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}

.cardEmpleado.fadeOut {
    animation: fadeInDown 0.25s forwards;
}