.responsive-container {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15%;
}
.logo-text {
  text-align: center;
  width: 180px;
  height: 137.33px;
  margin-top: 2rem;
  filter: drop-shadow(15px 15px 10px rgb(25, 50, 134));
}

/* Estilos generales para el contenedor */
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  zoom: 1.3;
  margin-left: -25%;
}



@media screen and (max-width: 480px) {
  .centered-container {
    zoom: 0.8; /* Reducir aún más el zoom para pantallas pequeñas */
    margin-left: 0; /* Asegurar que esté centrado */
  }
}

@media screen and (max-width: 768px) {
  
  .responsive-container {
    height: auto;
      padding: 1rem;
      justify-content: center;
      flex-direction: column;
      gap: 0;
      justify-content: center;
      
  }

  .responsive-container > * {
      margin: 0;
  }

  .responsive-container > * > * {
      margin: 0 !important;
  }

  .logo-text {
    width: 15%;
    height: 35%;
    zoom: 0.5;
  }

  .text-center{
    zoom: 0.8;
  }
  .centered-container {
    zoom: 1.3; 
    margin-left: 0; 
    flex-direction: column; 
  }
  .centered-container img{
    width: 70%;
  }
  
}


@media screen and (max-width: 480px) {
  .logo-text {
    width: 6%;
    height: 15%;
  }
  .centered-container {
    zoom: 0.8; /* Reducir aún más el zoom para pantallas pequeñas */
    margin-left: 0; /* Asegurar que esté centrado */
  }
}
.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}
.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms;
}
.fade-exit {
  opacity: 1;
  transform: scale(1);
}
.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms, transform 500ms;
}