#root {
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
}

.canvas {
    position: relative;
    top: 125px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color:white ;
}
.canvasBuscador{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 25px; /* Añadido margen inferior para separación */
    width: 50%;
}
.canvas h1 {
    margin-left: -60%;
    max-width: 100%; 
    box-sizing: border-box; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    font-family: "Gotham", Sans-serif;
}
.canvas h3{
    position:relative;
    margin-left: -60%;
    max-width: 100%; 
    box-sizing: border-box; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}
th {
    text-align: center;
    justify-content: center;
}

.table-bordered>:not(caption)>*>* {
    border-top-width: 1px;
    border-bottom-width:1px; 
}
.table>:not(caption)>*>* {
    border-top-width: 1px;
    border-bottom-width: 1px;
}
    
th .search {
    margin-top:10px ;
    margin-bottom: 10px;
    padding: 5px; 
    width: 80%; 
    border-color: rgb(59, 59, 59) !important;
    border-radius: 2px;
    color: white;
    margin-left: auto; /* Añadido para centrar horizontalmente */
    margin-right: auto; /* Añadido para centrar horizontalmente */
    display: block; /* Añadido para que margin auto funcione */

}

 #headTable{
    background-color: #013897;
    color: white;
}
th .search::placeholder {
    color: rgb(110,110,110)
}


td{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.table-responsive {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    max-width: 900px; 
    margin-top: 10px;
    flex-wrap: wrap;
}

.btn-primary {
    background-color: #f48134 !important;
    border-color: rgb(244,129,52) !important;
}
/* Estilos responsivos */
@media (max-width: 768px) {
    .canvas {
        top: 100px;
        padding: 15px;
    }

    .canvas h1 {
        margin-left: 0;
        
    }

    .search {
        width: 75%;
    }
}

@media (max-width: 480px) {
    .canvas {
        top: 75px;
        padding: 10px;
    }

    .canvas h1 {
        margin-left: 0;
    }

    .search {
        width: 100%;
    }
}